@model Proyecto_DSW_QuickStop.Models.ClienteModelv2

@{
    ViewData["Title"] = "CreateClientes";
}

<style>
    body {
        background-image: url("@Url.Content("/Fondos/3.jpg")");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .my-form {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        border-radius: 5px;
        margin-top: 50px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .my-form label {
        font-weight: bold;
    }

    .my-form .form-control {
        border-radius: 20px;
    }

    .my-form .btn-primary {
        border-radius: 20px;
    }
</style>

<h1 class="text-center">CreateClientes</h1>

<h4>ClienteModel</h4>
<hr />
    <div class="row justify-content-center">
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="/Logos/1.png" alt="Logo" style="width: 200px; height: 200px;">
        </div>
    </div>
        <div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="CreateClientes" class="my-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="codCliente" class="control-label">Código de Cliente:</label>
                <input asp-for="codCliente" class="form-control" />
                <span asp-validation-for="codCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nomCliente" class="control-label">Nombre de Cliente:</label>
                <input asp-for="nomCliente" class="form-control" />
                <span asp-validation-for="nomCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telCliente" class="control-label">Teléfono de Cliente:</label>
                <input asp-for="telCliente" class="form-control" />
                <span asp-validation-for="telCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="corCliente" class="control-label">Correo de Cliente:</label>
                <input asp-for="corCliente" class="form-control" />
                <span asp-validation-for="corCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dirCliente" class="control-label">Dirección de Cliente:</label>
                <input asp-for="dirCliente" class="form-control" />
                <span asp-validation-for="dirCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="credCliente" class="control-label">Crédito de Cliente:</label>
                <input asp-for="credCliente" class="form-control" />
                <span asp-validation-for="credCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaNac" class="control-label">Fecha de Nacimiento:</label>
                <input asp-for="fechaNac" class="form-control" />
                <span asp-validation-for="fechaNac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codDistrito" class="control-label">Código de Distrito:</label>
                @Html.DropDownList("codDistrito", ViewBag.Distritos as SelectList,
                                    "Seleccione", new { @class = "form-select" })
                <span asp-validation-for="codDistrito" class="text-danger"></span>
            </div>
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
    <br />   <br />   <br />   
<div class="text-center">
    <a class="btn btn-success" asp-action="IndexClientesPorNombre">Volver al Listado</a>
</div>



@if (!string.IsNullOrEmpty(ViewBag.MENSAJE))
{
    <div class="alert alert-info">
        <p>@ViewBag.MENSAJE</p>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
