
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/_layoutPage1.cshtml";
}
<h1>MARKET QUICKSTOP </h1>
	<div class="clear-loading spinner">
		<span></span>
	</div>
	<div class="w3ls-login box box--big">
		<!-- form starts here -->
		<form action="Verify" method="post">
			<div class="agile-field-txt">
				<label><i class="fa fa-user" aria-hidden="true"></i> Username </label>
				<input type="text" name="Name" placeholder="Ingresa tu Usuario" required="" />
			</div>
			<div class="agile-field-txt">
				<label><i class="fa fa-unlock-alt" aria-hidden="true"></i> Password </label>
				<input type="password" name="Password" placeholder="Ingresa tu Contraseña" required="" id="myInput" />
				<div class="agile_label">
					<input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
					<label class="check" for="check3">Mostrar Contraseña</label>
				</div>
				<div class="agile-right">
					
				</div>
			</div>
			<!-- script for show password -->
			<script>
				function myFunction() {
					var x = document.getElementById("myInput");
					if (x.type === "password") {
						x.type = "text";
					} else {
						x.type = "password";
					}
				}
			</script>
			<!-- //end script -->
				<input type="submit" value="ENTRAR">
		</form>
	</div>
	<!-- //form ends here -->
	<!--copyright-->
	<div class="copy-wthree">
		<p> CIBERTEC 2023 T5GJ | DERECHOS RESERVADOS
			
		</p>
	</div>
		<div class="copy-wthree">
		<p> 
			
		</p>
	</div>
	</div>
		<div class="copy-wthree">
		<p> 
			
		</p>
	</div>

	<!--//copyright-->